@import "tailwindcss";

body {
  background-color: #f5f5f7; /* Apple light background */
  color: #1d1d1f; /* Apple dark text */
  font-feature-settings: "rlig" 1, "calt" 1;
}

.hide-scrollbar::-webkit-scrollbar {
  display: none;
}
.hide-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}